language: python
python:
    - "2.7"
    - "3.6"
    - "3.7-dev"
# command to install dependencies
install: 
    - pip install -r requirements.txt
    - python setup.py install
# Command to run tests
script: nosetests
